.el1 {
    color: red;
    font-size: 25px;
}
.el2 {
    color: seagreen;
    font-size: 55px;
}
.el3 {
    color: sienna;
    font-size: 10px;
}
.el4 {
    color: slateblue;
    font-size: 100px;
}
.el5 {
    color: blue;
    font-size: 200px; 
}